<!DOCTYPE html>
<!--
   Step 0 of static website creation:
   Empty start code.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "css/main.css">
    {{#if style}}
    <link rel="stylesheet" href="css/{{ style }}">
    {{/if}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->

</head>

<body>
<header>
    <nav class="white">
        <div class = "nav-wrapper">
            <a href = "#" data-target = "mobile-demo" class = "sidenav-trigger"><i class = "material-icons">menu</i></a>

            <a href="#" class = "right brand-logo" style="color: #1586C1">MY Finance</a>
            <ul class = "left hide-on-med-and-down">
                <li><a href = "/dashboard" style="color: #1586C1; font-size:30px">Dashboard</a></li>
                <li><a href = "/stockwatch" style="color: #1586C1; font-size:30px" >Stock Watch</a></li>
                <li><a href = "/logout" style="color: #1586C1; font-size:30px">Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul id = "mobile-demo" class = "sidenav">
        <li><a href = "/dashboard">Dashboard</a></li>
        <li><a href = "/stockwatch">Stock Watch</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>

</header>

<main>
    {{{body}}}
</main>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems, {});
    });
</script>
</body>

</html>

