<!DOCTYPE html>
<html>
    <head>
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet" href = "css/main.css">
        {{#if style}}
        <link rel="stylesheet" href="css/{{ style }}">
        {{/if}}
        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        
        
        
        
    </head>

    <body>
        <div class="valign-wrapper" style="width:100%;height:75%;position: absolute;">
            <div class="valign" style="width:100%;">
                <div class="login-container" >
                    <div class="container">
                        <div id="title">
                            <h>MY Finance</h>
                        </div>
                        <div class = "row">
                            {{#if invalid}}
                                <h3 id = "invalidtext">Invalid Username / Password</h3>
                            {{/if}}
                        </div>
                        <div class="row">
                            <form class="col s12 push-s3" method="POST" action="/">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input name = "username" id="username" type="text" class="validate" required>
                                        <label for="username" id="usernamelabel" class="active" style="font-size: 20px;">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input name = "password" id="password" type="password" class="validate" required>
                                        <label for="password" id= "passwordlabel" class="active" style="font-size: 20px;">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="outer">
                                        <div class= "inner">
                                            <a class="waves-effect waves-light btn btn-small" id="loginbtn" style="background-color: white; color: #1586C1 !important" href="/dashboard">Login</a>
                                            <a class="waves-effect waves-light btn btn-small" id="createaccountbtn" style="background-color: white; color: #1586C1 !important" href="/registration">Create Account</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
    
</html>