<!DOCTYPE html>
<html>
    <head>
        <!-- Materialize -->
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "stylesheet" href = "css/main.css">
        {{#if style}}
        <link rel="stylesheet" href="css/{{ style }}">
        {{/if}}
        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        
        
    </head>

    <body>
        <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
            <div class="valign" style="width:100%;">
                <div class="registration-conatiner">
                    <div class="container">
                        <div id="title">
                            <h>Create Account</h>
                        </div>
                        
                        <div class="row">
                            <form class="col s12 push-s3">
                                <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="username" type="text" class="validate">
                                    <label for="username" id="usernamelabel" class="active">Username</label>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="col s12 push-s3">
                                <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="password" type="password" class="validate" onkeyup='check();'>
                                    <label for="password" id= "password_label" class="active">Password</label>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="col s12 push-s3">
                                <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="confirm_password" type="password" class="validate" onkeyup='check();'>
                                    <label for="confirm_password" id= "confirm_password_label" class="active">Confirm Password</label>
                                    <span id='message'></span>
                                </div>
                            </form>
                        </div>
                        <div id="outer">
                            <div class= "inner"><form class="col s12 push-s1">
                                <a class="waves-effect waves-light btn btn-small" id="createaccountbtn" style="background-color: white; color: #1586C1 !important">Create Account</a>
                            </form></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>
            var check = function() {
                if (document.getElementById('password').value == "") {
                    document.getElementById('message').innerHTML = 'Password Is Empty';
                    document.getElementById('createaccountbtn').style.display = "none";
                } else if (document.getElementById('password').value ==
                    document.getElementById('confirm_password').value) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Passwords Match';
                    document.getElementById('createaccountbtn').style.display = "block";

                } else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Passwords Do Not Match';
                    document.getElementById('createaccountbtn').style.display = "none";
                }
                }
        </script>
    </body>
    
</html>