* {
    font-family: 'Oswald', sans-serif;
}

#stats {
    font-size: 50px;
}

#stock {
    color: grey;
}

#top {
  text-align: center;
  font-size: 30px;
}

.vertical-menu {
    width: 350px; /* Set a width if you like */
    height: 700px;
    overflow-y: auto;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 22px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }

  .stockInfo{
    border: 1px solid white;
    padding: 20px;
    width: fit-content;
  }