* {
    font-family: 'Oswald', sans-serif;
    color: white !important;
}

body {
    background-color: #1586C1;
    background-image: url(/images/ArrowTransparent.svg);
}


#title {
    text-align: center;
}

h{
    font-size: 80px;
}


#outer
{
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}




