*:not(#invalidtext) {
    font-family: 'Oswald', sans-serif;
    color: white !important;
}

body {
    background-color: #1586C1;
    background-image: url(/images/ArrowTransparent.svg);
}

#invalidtext {
    color: rgb(146, 43, 43); 
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#title {
    text-align: center;
}

h{
    font-size: 80px;
}


#outer
{
    width:50%;
    text-align: center;
}
.inner {
    display: inline-block;
}




