*:not(#invalidtext) {
    font-family: 'Oswald', sans-serif;
    color: white !important;
}

body {
    background-color: #1586C1;
}

html, body, .login-container{
    height: 100%;
}

#title {
    text-align: center;
}

h{
    font-size: 80px;
}


#createaccountbtn {
    display: none;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}

#invalidtext {
    color: rgb(146, 43, 43); 
    text-align: center;
    font-family: 'Oswald', sans-serif;
}